#feature-bar {
    padding: 50px;
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 1175px) {
    #feature-bar {
        flex-direction: column;
    }
}